html, body{
	width:100%;height:100%;padding:0px;margin:0px;
}

body{
	background-color:#ddd;
}

#blocks{
	position:fixed;bottom:0px;width:100%;height:30px;background:url('/web/20160523170552im_/http://www.pierrelemee.fr/img/blocks.png') center center repeat;
}

#menu{
	width:882px;height:30px;margin:0px auto;position:relative;
}

#menu a{
	display:block;position:absolute;bottom:0px;border:0px;text-decoration:none;width:91px;height:20px;padding:7px 7px 3px 7px;background-position:top;font:20px 'BigNoodleTitling';color:#eee;text-align:center;background-repeat:no-repeat;
}

#menu a:hover{
	background-position:bottom;
}

#french{
	left:42px;background-image:url('/web/20160523170552im_/http://www.pierrelemee.fr/img/frenchBg.png');
}

#english{
	left:147px;background-image:url('/web/20160523170552im_/http://www.pierrelemee.fr/img/englishBg.png');
}

#pdf{
	left:693px;background-image:url('/web/20160523170552im_/http://www.pierrelemee.fr/img/pdfBg.png');
}

#main{
	width:900px;padding:49px;margin:49px auto;border:1px solid #bbb;border-radius:10px;background-color:#fff;
}

#header{
	display:inline-block;width:100%;margin-bottom:10px;
}

#name{
	border-bottom:#333 solid 8px;
}

#name h1{
	display:inline-block;margin:0px;color:#111;font:40px 'BigNoodleTitling';
}

#name h4{
	display:block;float:right;margin:0px;padding-top:20px;color:#111;font:20px 'BigNoodleTitling';
}

#job{
	width:100%;
}

#job h2{
	display:inline-block;margin:0px;color:#222;font:40px 'BigNoodleTitling';
}

#job h4{
	display:block;float:right;margin:0px;color:#222;font:20px 'BigNoodleTitling';
}

#more{
	display:inline-block;width:240px;margin:10px 0px;float:right;
}

#more .sectionTitle{
	display:block;width:190px;padding:2px 50px 2px 2px;margin:10px 0px;color:#333;text-align:right;font:26px 'BigNoodleTitling';background-position:right center;background-repeat: no-repeat;
}

#skills{
	background-image: url('/web/20160523170552im_/http://www.pierrelemee.fr/img/block2black.png');
}

#more h4{
	display:inline-block;width:240px;padding:4px 0px;margin:2px 0px;color:#333;font-style:italic;text-align:right;font:20px 'BigNoodleTitling';
}

#more ul{
	display:inline-block;width:240px;margin:1px 0px;padding:0px;color:#333;font-style:italic;list-style-position: outside;list-style-type: none;
}

#more li{
	display:inline-block;width:100%;height:15px;line-height:15px;color:#111;text-align:right;font:13px 'Trebuchet MS';
}

#miscellaneous{
	background-image: url('/web/20160523170552im_/http://www.pierrelemee.fr/img/block2blue.png');
}

#content{
	width:650px;margin:10px 0px;
}

#content .sectionTitle{
	display:inline-block;padding:4px 0px 4px 50px;width:600px;margin:15px 0px 5px 0px;color:#333;font:26px 'BigNoodleTitling';background-position:left center;background-repeat: no-repeat;
}

#profile{
	background-image: url('/web/20160523170552im_/http://www.pierrelemee.fr/img/block2blue.png');
}

#professionnal{
	background-image: url('/web/20160523170552im_/http://www.pierrelemee.fr/img/block2yellow.png');
}

#education{
	background-image: url('/web/20160523170552im_/http://www.pierrelemee.fr/img/block2red.png');
}

#content h4{
	display:inline-block;width:100%;padding:0px;margin:0px;color:#333;font-style:italic;text-align:left;font:20px 'BigNoodleTitling';
}

#content h5{
	display:inline-block;width:100%;padding:0px;margin:0px;color:#333;font-style:italic;text-align:left;font:19px 'BigNoodleTitling';
}

#content p{
	display:inline-block;width:100%;margin:2px 0px;color:#111;font:13px 'Trebuchet MS';text-align:justify;
}

#content hr{
	display:inline-block;width:100%;margin:5px 0px;height:0px;border:0px;color:#222;background-color:#222;
}

#content a{
	color:#074987;text-decoration: none;
}

#content a:hover{
	text-decoration: underline;
}

#content ul{
	display:inline-block;width:610px;margin:2px 0px;padding:0px 0px 0px 30px;color:#111;font:13px 'Trebuchet MS';text-align:justify;list-style-position: outside;
}

/*
     FILE ARCHIVED ON 17:05:52 May 23, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:20:26 Nov 27, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.253
  PetaboxLoader3.datanode: 362.221 (5)
  RedisCDXSource: 3.555
  LoadShardBlock: 115.799 (3)
  PetaboxLoader3.resolve: 251.34 (2)
  captures_list: 141.12
  exclusion.robots: 0.265
  CDXLines.iter: 17.872 (3)
  load_resource: 647.517
  esindex: 0.019
*/