##################
#
#  {{ ansible_managed }}
#
##################
server {
	listen 80;
	listen [::]:80;

    server_name {{ item.domain }};
    return 301 https://{{ item.redirection }}{% if keep_request_uri|default(true) %}$request_uri{% endif %};
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	error_log off;
	access_log off;

	# SSL
    ssl_certificate {{ item.ssl_path }}/fullchain.pem;
    ssl_certificate_key {{ item.ssl_path }}/privkey.pem;
    ssl_trusted_certificate {{ item.ssl_path }}/fullchain.pem;

	server_name {{ item.domain }};
	return 301 https://{{ item.redirection }}{% if keep_request_uri|default(true) %}$request_uri{% endif %};
}
