<!DOCTYPE html>
<html lang="{{ language|default('fr') }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title|default('') }}{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% if app.environment == 'prod' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157965388-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-157965388-1');
            </script>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
